.volunteer-page {
  position: relative;
  overflow: hidden;
}
.volunteer-page h1 {
  font-size: 40px;
  font-weight: bold;
  
}

.particles-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.volunteer-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background to make the text more readable */
  border-radius: 8px;
  margin: 20px;
}
